<?xml version ="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoreload="true"
	  internalLogLevel="info"
	  internalLogFile="c:\temp\NLogSample\NLogSample.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target xsi:type="File" name="all_logs" filename="c:\Temp\NLogSample\all.log"/>
		<target xsi:type="File" name="info_logs" filename="c:\Temp\NLogSample\info.log"/>
		<target xsi:type="File" name="relevant_logs" filename="c:\Temp\NLogSample\relevant.log"/>
		<target xsi:type="File" name="error_logs" filename="c:\Temp\NLogSample\error.log"/>
		<target xsi:type="ColoredConsole" name="logconsole">
			<highlight-row condition="level == LogLevel.Debug" foregroundcolor="DarkGray"/>
			<highlight-row condition="level == LogLevel.Info" foregroundcolor="DarkYellow"/>
			<highlight-row condition="level == LogLevel.Warn" foregroundcolor="Yellow"/>
			<highlight-row condition="level == LogLevel.Error" foregroundcolor="DarkRed"/>
			<highlight-row condition="level == LogLevel.Fatal" foregroundcolor="Red" backgroundcolor="White"/>
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="logconsole"/>
		<logger name="*" minlevel="Debug" writeTo="all_logs"/>
		<logger name="*" minlevel="Warn" writeTo="relevant_logs"/>
		<logger name="*" minlevel="Info" writeTo="info_logs"/>
		<logger name="*" minlevel="Error" writeTo="error_logs"/>
	</rules>
	
</nlog>
